.vertical-timeline {
    font-family: "Share Tech Mono", monospace;
  }
  
  .vertical-timeline-element {
    position: relative;
    margin-bottom: 30px;
  }
  
  .vertical-timeline-element-content {
    background: rgba(5, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(135, 47, 31, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px 0 solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px; /* Adjust the spacing from the timeline line */
  }
  
  .vertical-timeline-element-date {
    color: #fa3939;
  }
  
  .vertical-timeline-element-icon {
    background-color: #fa3939;
    color: #fff;
  }
  
  .vertical-timeline-element-title,
  .vertical-timeline-element-subtitle,
  .vertical-timeline-element-date {
    margin-bottom: 8px;
  }
  
  /* Specific styles for job title, company, and description */
  .vertical-timeline-element-title {
    font-size: 24px;
    font-weight: bold;
    color: #fa3939;
  }
  
  .vertical-timeline-element-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  
  .vertical-timeline-element-date {
    font-size: 16px;
    color: #fff;
  }
  
  .vertical-timeline-element-description {
    font-size: 16px;
    color: #ddd;
    margin-top: 10px;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .vertical-timeline-element-content {
      margin-left: 0; /* Reset the left margin for smaller screens */
    }
  }
  